@charset "UTF-8";

//@import "reset";

//rem换算
//$design_width: 750;
$rem_length: 100;

@function rem($px) {
  @return $px / 2 / $rem_length + rem;
}

@function pxImage($px) {
  @return $px / $rem_length * 2 / 3 + rem;
}

@function px2xImage($px) {
  @return $px * 2 / $rem_length * 2 / 3 + rem;
}


/** 字体 ==> **/
$font-size-bigger: rem(90);
$font-size-title: rem(32);
$font-size-content-big: rem(30);
$font-size-content: rem(28);
$font-size-content-min: rem(26);
$font-size-small: rem(24);
/** 字体 <== **/

/**  颜色==> **/
$color-white: #ffffff;
$color-blue: #1a82e2;

$color-bg: #f0f0f0;
$color-gray: #cccccc;
$color-deep-gray: #666666;
/**  颜色<== **/

/**  层级==> **/
$z-index-hover: 1000;
$z-index-nav: 500;
/**  层级<== **/

/**  圆角==> **/
$border-radius-big: rem(10);
$border-radius-small: rem(6);
/**  圆角<== **/
